@import url('https://fonts.googleapis.com/css2?family=Borel&family=Varela+Round&display=swap');

*{
    margin:0;
    padding: 0;
}

nav{
    background-color: purple;
    color: white;
    height: 65px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-family: 'Borel', cursive;
    font-family: 'Varela Round', sans-serif;
}

nav ul{
    list-style-type: none;
}

.gameContainer{
    background-color: rgb(193, 83, 83);
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: white;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
    font-family: 'Borel', cursive;
    font-family: 'Varela Round', sans-serif;
    margin: 12px 0;
}

.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: blueviolet ;
}

.info{
    font-size: 20px;
}

.gameInfo{
    padding: 34px;
}

.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;

}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

#reset{
    margin: 0 15px;
    padding: 2px 5px;
    background-color: aquamarine;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Borel', cursive;
    font-family: 'Varela Round', sans-serif;
}